#input-box {
  height: 48px;
  width: 460px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 50px 0 rgba(125,125,167,0.1);
  margin: auto;
  color: #87878A;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 56px;
  display: block;
  border: none;
  padding-left: 24px;
}

.submit-button {
  height: 40px;
  width: 138px;
  border-radius: 10px;
  display: block;
  background-color: #FFBB4B;
  box-shadow: 0 10px 50px 0 rgba(255,187,75,0.2);
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.88px;
  border: none;
}